html
{
    background : black url(Background.jpg) center center no-repeat;
    background-size: cover;
    color: white;
}

body
{
    display: block;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    margin : 0;
    padding: 0;
}
@media (min-height: 500px) {body { display: grid; } }

.Container{
    margin: 2vh;
    background: rgba(102, 0, 255, 0.8);
    padding: 2rem;
    border-radius: 2rem;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.5em;
}

    header{ }
        .Avatar{
            border-radius: 50%;
            display: block;
            float:left;
            width: 123px;
            height: auto;
            margin: 0 1em 0 0;
        }
        .TitlulPaginii{
            display: block;
            margin: 0;
            font-size: clamp(2rem, 6vw, 4rem);
            line-height: 1em;
        }

    main{ }
        .ListaLinkuri{ display:block;margin:0,padding:0% }
            .ListaItem{ display: block;margin: 0; padding: 0; 
                border-bottom: 1px solid #fff; }
                .ListaLink{ display: block; padding: 0.5em; color: #fff;
                     text-decoration: none; }
                .ListaLink:hover{background : white; color: black; }
                    .ListaTitlu, .ListaText{ display: block; margin:0;
                        padding: 0; font-size: 1em; line-height: 1.5em; }